html{
    min-height:100%;/* make sure it is at least as tall as the viewport */

}
body{
    height:100% 
}

.loginDiv {
	max-width: 60%;
	float: right;
	position: top;
}

.homeDiv {
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 10%;
}

.client {
	float: right;
	max-width: 50%;
	display: inline-block;
}

.move {
	margin-left: 10em;
}

.logOut{
		margin-left: 75%
}

.user{
	margin-left: 10em;
}

.inputs {
	margin-left: 10%;
}

.navImg {
	float: right;
	height: 3em;
}
#messagesDiv {
	margin-left: 20%
}

.btn-primary{
    position:absolute;
    width: 5%;
    height: 100%;
    }

.script {
	margin-top: 1.5em;
	max-width: 60%;
	margin-right:22%;
	margin-left: 18%;
}
.active {
	margin-left: 6em;
}

#phoneImg {
 max-width: 100%;
 max-height: auto;
}
#phoneImg2 {
 max-width: 35%;
 max-height: auto;
}

.phone {
	height: auto;
	padding: 1em;
}

.phonea {
	margin-left: 15em;
	border: 1px solid #e5e5e5;
	width: 20em;
	height: 10em;
	border-radius: 0.25em;
}


.main {
	margin-bottom: 3em;
	margin-top: 2em;
}

.nav-pills {
	padding:.5em;
	
}

.text {
	text-align: center;
}



p {
	font-family: 'Lato', sans-serif;
	padding:.5em;
}

.checkbox {
	display: inline-block;
	margin-left: 8em;
	}

#accept {
	margin-left: 4em;
}


	 
}
.image {
	display: inline-block;
	margin-left: .5em;
}



.clientLive {
	width: 50%;
	float: right;
	display: inline-block;
	margin-top: 2em;
	margin-right: 4em;
	font-size: 2em;
	font-family: 'Lato', sans-serif;
}

.currentClent {
	margin: 1em;
	font-family: 'Lato', sans-serif;
}


.homefont {
	font-family: 'Lato', sans-serif;
	font-size: 1.25em;
}



#gridStyle {
    border: 1px solid rgb(212,212,212);
    font-family: 'Lato', sans-serif;
}

.center-block {
	 display: block;
  margin-left: 20%;
  margin-right: 20%;
}

.darkbox {
	max-width: auto;
}

#leadBTN {
	margin-top: 1em;
	margin-bottom: 2em;
	margin-left: 1.5em;
	font-family: 'Lato', sans-serif;
}

.form-control {
	width: 15em;
	display: inline-block;
	margin: 0;
	font-family: 'Lato', sans-serif;
}


/* styling for leads.html */

.tocall {
	float: left;
	margin-bottom: .5em;
display: inline-block;
max-width: 50%; 

}

#toCall {
	width:19.5em;
	font-family: 'Lato', sans-serif;
}

#hangup {
	background-color: white;
	border-color: #428bca;
	color: #428bca;
	display: inline-block;
	margin-left: .5em;
	width:133px;
  height:133px;
}

#call {
	background-color: white;
	border-color: #428bca;
	color: #428bca;
	display: inline-block;
	width:133px;
  height:133px;
	
}

.numberSize {
	font-style: bold;
	font-size: 2em;
	 background-color: #428bca;
	color:white; 
	padding-left: 1.3em;
	padding-right: 1.3em;
	border: 1px solid white;

}

.numberSizeFunction {
	font-style: bold;
	font-size: 1.5em;
	 background-color: #428bca;
	color:white; 
  width:133px;
  height:2em;
	display: inline-block;
}

#searchBar {
	margin-left: 10em;
	width: 25em;
	margin-bottom: 1.5em;
}

.calling{
	display: inline-block;
	width: 21em;
}

.input-width {
	width: auto;
}

.leadInput {
margin-left: 1.5em;
margin-right: 1.5em;
margin-bottom: 1em;

}

#model_text {
	width:  95%;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

.Leadsfont{
	font-family: 'Lato', sans-serif;
	 margin-left: auto;
   margin-right: auto;
   width: 63%;
   font-size: 1.5em;
   font-style: bold;
}

.container {
	margin-top: 1.5em;
	width: 87%;
	margin-left: 8em;
}
/* {
   border: 1px solid red !important;
}*/