html{
    min-height:100%;/* make sure it is at least as tall as the viewport */

}
body{
    height:100% 
}

.loginDiv {
	max-width: 60%;
	float: right;
	position: top;
}

.homeDiv {
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 10%;
}

.client {
	float: right;
	max-width: 50%;
	display: inline-block;
}

.logOut{
		margin-left: 60%
}

.user{
	margin-left: 10em;
}

.inputs {
	margin-left: 10%;
}

.navImg {
	float: right;
	height: 3em;
}
#messagesDiv {
	margin-left: 20%
}

.btn-primary{
    position:absolute;
    width: 5%;
    height: 100%;
    }

.script {
	max-width: 60%;
	margin-right:22%;
	margin-left: 18%;
}
.active {
	margin-left: 6em;
}

#phoneImg {
 max-width: 100%;
 max-height: auto;
}

.phone {
	height: auto;
	padding: 1em;
}

.phonea {
	margin-left: 15em;
	border: 1px solid #e5e5e5;
	width: 20em;
	height: 10em;
	border-radius: 0.25em;
}


.main {
	margin-bottom: 3em;
	margin-top: 2em;
}

.nav-pills {
	padding:.5em;
	
}

.text {
	text-align: center;
}



p {
	font-family: 'Lato', sans-serif;
	padding:.5em;
}

.checkbox {
	display: inline-block;
	margin-left: 8em;
	}

#accept {
	margin-left: 4em;
}













	 
}
.image {
	display: inline-block;
	margin-left: .5em;
}



.clientLive {
	width: 50%;
	float: right;
	display: inline-block;
	margin-top: 2em;
	margin-right: 4em;
	font-size: 2em;
	font-family: 'Lato', sans-serif;
}

.currentClent {
	margin: 1em;
	font-family: 'Lato', sans-serif;
}
#model_text {
	width: 100%;

}

.homefont {
	font-family: 'Lato', sans-serif;
	font-size: 1.25em;
}



#gridStyle {
    border: 1px solid rgb(212,212,212);
    font-family: 'Lato', sans-serif;
}

.center-block {
	 display: block;
  margin-left: 20%;
  margin-right: 20%;
}

.darkbox {
	max-width: auto;
}

#leadBTN {
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 2em;
	font-family: 'Lato', sans-serif;
}

.form-control {
	width: 24%;
	display: inline-block;
	margin: 0;
	font-family: 'Lato', sans-serif;
}


/* styling for leads.html */

.tocall {
	float: left;
	margin-bottom: .5em;
display: inline-block;
max-width: 50%; 
}

#toCall {
	width:19.5em;
	font-family: 'Lato', sans-serif;
}

#hangup {
	height: 4.5em;
	width: 9.2em;
	background-color: white;
	border-color: #428bca;
	color: #428bca;
	display: inline-block;
	margin: 0;
}

#call {
	height: 4.5em;
	width: 9.2em;
	background-color: white;
	border-color: #428bca;
	color: #428bca;
	display: inline-block;
}

.numberSize {
	font-style: bold;
	font-size: 2em;
	 background-color: #428bca;
	color:white; 
	padding-left: 1.3em;
	padding-right: 1.3em;
	border: 1px solid white;

}

.numberSizeFunction {
	font-style: bold;
	font-size: 2em;
	 background-color: #428bca;
	color:white; 
	padding-left: 1.3em;
	padding-right: 1.3em;
	border: 1px solid white;
}

/*.innerDiv {
	width:21em;
}*/

.calling{
	display: inline-box;
	width: 21em;
}

/* {
   border: 1px solid red !important;
}*/