html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
}
body{
    height:100% 
}

p {
	font-family: sans-serif;
}

.client {
	float: right;
	max-width: 50%;
	display: inline-block;
}

.user{
	margin-left: 10em;
}

.inputs {
	margin-left: 10%;
}

.navImg {
	float: right;
	height: 3em;
}
#messagesDiv {
	margin-left: 20%
}

.btn-primary{
    position:absolute;
    width: 5%;
    height: 100%;
    }

#dialpad {
	margin: 1em;
}

.script {
	max-width: 60%;
	margin-right:22%;
	margin-left: 18%;
}
.active {
	margin-left: 6em;
}

#phoneImg {
 max-width: 100%;
 max-height: auto;
}

.phone {
	height: auto;
	padding: 1em;
}

.phonea {
	margin-left: 15em;
	border: 1px solid #e5e5e5;
	width: 20em;
	height: 10em;
	border-radius: 0.25em;
}

.peabody1 {
	float: left;
	display: inline-block;
	margin-left: 1.5em;
}
.peabody {
	display: inline-block;
	margin-left: 1.5em;
	float:right;
}
.main {
	margin-bottom: 3em;
	margin-top: 2em;
}

.nav-pills {
	padding:.5em;
}

.text {
	text-align: center;
}

#hangup {
	margin-left: .5em;
	height: 4em;
	width: 6em;
	margin: .25em;
	background-color: white;
	border-color: #428bca;
	color: #428bca;

}

p {
	font-family: sans-serif;
	padding:.5em;
}

.checkbox {
	display: inline-block;
	margin-left: 8em;
	}

#accept {
	margin-left: 4em;
}

.numberSize {
	font-style: bold;
	font-size: 1.5em;
	margin-top: .4em;
}

#button1 { 
	height: 4em;
	width: 6em;
	margin: .25em;
	background-color: #428bca;
	border-color: #428bca;
	color:white;

}
#button2 { 
	height: 4em;
	width: 6em;
	margin: .25em;
	background-color: #428bca;
	border-color: #428bca;
	color:white;
}
#button3 { 
	height: 4em;
	width: 6em;
	margin: .25em;
	background-color: #428bca;
	border-color: #428bca;
	color:white;
}
#button4 { 
	height: 4em;
	width: 6em;
	margin: .25em;
	background-color: #428bca;
	border-color: #428bca;
	color:white;
}
#button5 { 
	height: 4em;
	width: 6em;
	margin: .25em;
	background-color: #428bca;
	border-color: #428bca;
	color:white;
}
#button6 { 
	height: 4em;
	width: 6em;
	margin: .25em;
	background-color: #428bca;
	border-color: #428bca;
	color:white;
}
#button7 { 
	height: 4em;
	width: 6em;
	margin: .25em;
	background-color: #428bca;
	border-color: #428bca;
	color:white;
}
#button8 { 
	height: 4em;
	width: 6em;
	margin: .25em;
	background-color: #428bca;
	border-color: #428bca;
	color:white;
}
#button9 { 
	height: 4em;
	width: 6em;
	margin: .25em;
	background-color: #428bca;
	border-color: #428bca;
	color:white;
}
#button0 { 
	height: 4em;
	width: 6em;
	margin: .25em;
	background-color: #428bca;
	border-color: #428bca;
	color:white;
}
#buttonStar { 
	height: 4em;
	width: 6em;
	margin: .25em;
	background-color: #428bca;
	border-color: #428bca;
	color:white;
}
#buttonPound { 
	height: 4em;
	width: 6em;
	margin: .25em;
	background-color: #428bca;
	border-color: #428bca;
	color:white;
}

#buttonClear { 
	height: 4em;
	width: 6em;
	margin: .25em;
	background-color: #428bca;
	border-color: #428bca;
	color:white;
}

.innerDiv {
	width:15em;
}


.tocall {
	float: left;
	margin-bottom: .5em;
display: inline-block;
max-width: 50%;
}

.image {
	display: inline-block;
	margin-left: .5em;
}

#call {
	height: 4em;
	width: 6em;
	margin: .25em;
	background-color: white;
	border-color: #428bca;
	color: #428bca;
}

.clientLive {
	width: 50%;
	float: right;
	display: inline-block;
	margin-top: 2em;
	margin-right: 4em;
	font-size: 2em;
	font-family: sans-serif;
}

.currentClent {
	margin: 1em;
}
#model_text {
	width: 100%;

}

#toCall {
	margin-left: 1.25em;
	width:19em;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 50em;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5em;
}

.center-block {
	 display: block;
  margin-left: 20%;
  margin-right: 20%;
}

.darkbox {
	max-width: auto;
}

#leadBTN {
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 2em;
}

.form-control {
	width: 24%;
	display: inline-block;
	margin: 0;
}
/* {
   border: 1px solid red !important;
}*/