<!doctype html>
<html ng-app="callCenter">
<head>
   
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <title>callCenter</title>
</head>
<body>
    
        <button class="btn btn-primary" data-toggle="modal" data-target=".bs-modal-sm"><img id='phoneImg'  src="http://simpleicon.com/wp-content/uploads/phone-symbol-2.png"></button>
 

   <nav class='navbar-default' role='navigation'>
    <ul class="nav nav-pills">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Will add</a></li>
  <li><a href="#">Stuff Later :)</a></li>
</ul>
</nav>

<div class="modal fade bs-modal-sm" tabindex="-1" role="" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
     <div class='phone' >
  <!-- display call status in this paragraph tag -->
    <p class='peabody1'>   Awaiting incoming call...</p><button id="hangup" class='peabody'>End Call</button>
    <br/>
<div><input type="text" id="tocall" placeholder='+1addsomethinghere' value=""><button id="call">Start Call</button></div>
<br>
   <div id="dialpad">
    <table>
    <tr>
    <td><input type="button" class='brand' value="1" id="button1"></td>
    <td><input type="button" value="2" id="button2"></td>
    <td><input type="button" value="3" id="button3"></td>
    </tr>
    <tr>
    <td><input type="button" value="4" id="button4"></td>
    <td><input type="button" value="5" id="button5"></td>
    <td><input type="button" value="6" id="button6"></td>
    </tr>
    <tr>
    <td><input type="button" value="7" id="button7"></td>
    <td><input type="button" value="8" id="button8"></td>
    <td><input type="button" value="9" id="button9"></td>
    </tr>
    <tr>
    <td><input type="button" value="*" id="buttonStar"></td>
    <td><input type="button" value="0" id="button0"></td>
    <td><input type="button" value="#" id="buttonPound"></td>
    </tr>
    </table>
    </div>
</div> 
    </div>
  </div>
</div>


</div>
    <!-- include the Twilio Client JavaScript SDK -->
    <script src="http://static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
    <!-- include jQuery to make DOM manipulation and event handling nicer -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!-- accept incoming calls to this client -->
    <script type="text/javascript">
      



        // Set up the Twilio "Device" (think of it as the browser's phone) with
        // our server-generated capability token, which will be inserted by the
        // EJS template system:
        Twilio.Device.setup('<%= token %>');
        // Register an event handler to be called when there is an incoming
        // call:

        var connection=null;

         Twilio.Device.incoming(function (conn) {
        if (confirm('Accept incoming call from ' + conn.parameters.From + '?')){
            connection=conn;
            conn.accept();
        }else{
            connection=conn;
            conn.ignore();
        }
    });

        // Register an event handler for when a call ends for any reason
        Twilio.Device.disconnect(function(connection) {
            console.log('call disconnected')
        $('#hangup').click(function() {
            Twilio.Device.disconnectAll();
            $('p').ejs('Call Disconneted')
        });
});
             $("#call").click(function() {  
        params = { "tocall" : $('#tocall').val()};
        connection =  Twilio.Device.connect({
                 CallerId:'+18012279533', // Replace this value with a verified Twilio number:
                                          // https://www.twilio.com/user/account/phone-numbers/verified
                  PhoneNumber:$('#tocall').val() //pass in the value of the text field
         });
    });

         // function toggleCallStatus(){
         //     $('#call').toggle();
         //     $('#hangup').toggle();
         //     $('#dialpad').toggle();
         //      }

   $.each(['0','1','2','3','4','5','6','7','8','9','star','pound'], function(index, value) { 
        $('#button' + value).click(function(){ 
            if(connection) {
                if (value=='star')
                    connection.sendDigits('*')
                else if (value=='pound')
                    connection.sendDigits('#')
                else
                    connection.sendDigits(value)
                return false;
            } 
            });
    });
       
    </script>


<div class='phonea'><p class='text'> hello world this box will have the clients information for the call center agent to view :) </p></div>
</div>
</div>

<!-- <input type="button" id="hangup" value="Hangup Call" style="display:;"/> -->
   

<div class="col-md-9">

    <div class='center-block'>
<a ui-sref="route1" class='image'><img src='http://littlegiantladders.com/skin/frontend/default/littlegiant/images/category/home/MultiUse.png'></a>
   <a ui-sref="route2" class='image'><img src='http://littlegiantladders.com/skin/frontend/default/littlegiant/images/category/home/MultiUse.png'></a>
   <a ui-sref="route3" class='image'><img src='http://littlegiantladders.com/skin/frontend/default/littlegiant/images/category/home/Stepladder.png'></a>
</div>
<div ui-view></div>

</div> 



    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    <script src='scripts/apps.js'></script>
    <script src='scripts/js.js'></script>

    </body>
</html>