<!doctype html>
<html ng-app="callCenter">
<head>
   
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <title>callCenter</title>
</head>
<body>
   

           <button class="btn btn-primary" data-toggle="modal" data-target=".bs-modal-lg"><img id='phoneImg'  src="http://simpleicon.com/wp-content/uploads/phone-symbol-2.png"></button>
 

<nav class='navbar-default' role='navigation'>
    <ul class="nav nav-pills">
      <li class="active"><a href="#/home">Home</a></li>
      <li><a href="#">Will add</a></li>
      <li><a href="#">Stuff Later :)</a></li>
    </ul>
</nav>

<div class="modal fade bs-modal-lg" tabindex="-1" role="" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class='phone'>
      <!-- display call status in this paragraph tag -->
        <!-- <p class='peabody1' id='p-status'>   Awaiting incoming call...</p> -->
        
        
        
            <div class='innerDiv'>
                <div class='tocall'>
                    <form role='form'><input type="text" class='form-control' value="" placeholder='+18012279533'></form>
                </div>

                       <div id="dialpad">
                        <table>
                        <tr>
                        <td><button id="button1" value='1'><p class='numberSize'>1</p></button></td>
                        <td><button id="button2" value='2'><p class='numberSize'>2</p></button></td>
                        <td><button id="button3" value='3'><p class='numberSize'>3</p></button></td>
                        </tr>
                        <tr>
                        <td><button id="button4" value='4'><p class='numberSize'>4</p></button></td>
                        <td><button id="button5" value='5'><p class='numberSize'>5</p></button></td>
                        <td><button id="button6" value='6'><p class='numberSize'>6</p></button></td>    
                        <tr>
                        <td><button id="button7" value='7'><p class='numberSize'>7</p></button></td>
                        <td><button id="button8" value='8'><p class='numberSize'>8</p></button></td>
                        <td><button id="button9" value='9'><p class='numberSize'>9</p></button></td>    
                        <tr>
                        <td><button id="buttonStar" value='*'><p class='numberSize'>*</p></button></td>
                        <td><button id="button0" value='0'><p class='numberSize'>0</p></button></td> 
                        <td><button id="buttonPound" value='#'><p class='numberSize'>#</p></button></td>
                        </tr>
                        <td><button id="call"><p>Start Call</p></button></td>
                         <td><button id="buttonClear" value=''><p class='numberSize'>Clear</p></button></td>
                        <td><button id="hangup" class='peabody'><p>End Call</p></button></td>
                        </table>

                        
                        

                        </div>  
                </div>
        </div> 
    </div>
  </div>
</div>


</div>

<div>
    <!-- include the Twilio Client JavaScript SDK -->
    <script src="http://static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
    <!-- include jQuery to make DOM manipulation and event handling nicer -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!-- accept incoming calls to this client -->
    <script type="text/javascript">
      



        // Set up the Twilio "Device" (think of it as the browser's phone) with
        // our server-generated capability token, which will be inserted by the
        // EJS template system:
        Twilio.Device.setup('<%= token %>');
        // Register an event handler to be called when there is an incoming
        // call:

        var connection=null;

         Twilio.Device.incoming(function (conn) {
        if (confirm('Accept incoming call from ' + conn.parameters.From + '?')){
            connection=conn;
            conn.accept();
        }else{
            connection=conn;
            conn.ignore();
        }
    });

        // Register an event handler for when a call ends for any reason
        Twilio.Device.disconnect(function(connection) {
        $('#hangup').click(function() {
            Twilio.Device.disconnectAll();   
        })
});
             $("#call").click(function() {  
        params = { "tocall" : $('#tocall').val()};
        connection =  Twilio.Device.connect({
                 CallerId:'+18012279533', // Replace this value with a verified Twilio number:
                                          // https://www.twilio.com/user/account/phone-numbers/verified
                  PhoneNumber:$('.form-control').val() //pass in the value of the text field
         });
    });

   $.each(['0','1','2','3','4','5','6','7','8','9','star','pound'], function(index, value) { 
        $('#button' + value).click(function(){ 
            if(connection) {
                if (value=='star')
                    connection.sendDigits('*')
                else if (value=='pound')
                    connection.sendDigits('#')
                else
                    connection.sendDigits(value)
                return false;
            } else {
             $('.form-control').val($('.form-control').val() + value)
            } 
            });
    });
       
    </script>


</div>

<!-- <input type="button" id="hangup" value="Hangup Call" style="display:;"/> -->
   

    <div ui-view></div>


    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
    <!-- Firebase simple-login -->
    <script src="https://cdn.firebase.com/js/simple-login/1.6.3/firebase-simple-login.js"></script>
    <!--bootstrap -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--Angular UI Router -->
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    <script src='scripts/apps.js'></script>
    <script src='scripts/controller.js'></script>
 
    </body>
</html>