<!-- <div>
      <div ng-repeat="lead in leads">
        {{lead.name}}
        {{lead.phone}}
        {{lead.email}}
        {{lead.location}}
        {{lead.notes}}


        <input ng-model="lead.name" />
        <input ng-model="lead.phone" />
        <input ng-model="lead.email" />
        <input ng-model="lead.location" />
        <input ng-model="lead.notes" />
      </div>

</div> -->


<div ng-controller="gridCtrl">
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
    