 <user-nav></user-nav>
 <phone-bar></phone-bar>

<div class="container">
   <input class="form-control" id='searchBar' placeholder="Search by Number, Name or what ever your feeling :)" ng-model='search'>
  <table class="table table-striped" id='gridStyle'>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Location</th>
      <th>Notes</th>
    </tr>
    <tr ng-click="clickToCall()" ng-repeat="lead in leads | filter: search" id='gridStyle'>
      <td><input class='form-control' ng-model="lead.name" ng-change="leads.$save(lead)" /></td>
      <td><input class='form-control' ng-model="lead.phone" ng-change="leads.$save(lead)" /></td>
      <td><input class='form-control' ng-model="lead.email" ng-change="leads.$save(lead)" /></td>
      <td><input class='form-control' ng-model="lead.location" ng-change="leads.$save(lead)" /></td>
      <td><textarea class='form-control' rows=auto ng-model="lead.notes" ng-change="leads.$save(lead)" /></td>
    </tr>
  </table>
</div>
   


   {{personCalling}}