 <user-nav></user-nav>
 <phone-bar></phone-bar>

<div class="container">
   <input class="form-control" id='searchBar' placeholder="Search by Number, Name or what ever your feeling :)" ng-model='search'>
  <table class="table table-striped" id='gridStyle'>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Location</th>
      <th>Notes</th>
    </tr>
    <tr ng-click="clickToCall()" ng-repeat="lead in leads | filter: search" id='gridStyle'>
      <td><input class='form-control' ng-model="lead.name" ng-change="leads.$save(lead)" /></td>
      <td><input class='form-control' ng-model="lead.phone" ng-change="leads.$save(lead)" /></td>
      <td><input class='form-control' ng-model="lead.email" ng-change="leads.$save(lead)" /></td>
      <td><input class='form-control' ng-model="lead.location" ng-change="leads.$save(lead)" /></td>
      <td><textarea class='form-control' rows=auto ng-model="lead.notes" ng-change="leads.$save(lead)" /></td>
    </tr>
  </table>
</div>
   


   

    <div class="modal fade bs-modal-lg" tabindex="1"  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class='phone'>
            <div class='clientLive'>
               <p class='currentClient'> Name: {{personCalling.name}}  </p>
               <p class='currentClient'> Phone: {{personCalling.phone}} </p>
               <p class='currentClient'> Email: {{personCalling.email}} </p>
               <p class='currentClient'> Notes: {{personCalling.notes}}</p>
            </div>
        
                <div class='innerDiv'>
                    <div class='tocall'>
                        <form role='form'><input type="text" id='toCall' class='form-control' ng-model="callNumber" value='+' placeholder='Phone numbers look like 18012279533'></form>
                    </div>

                           <div id="dialpad">
                                <table>
                                <tr>
                                <td><a ng-click id="button1" value='1'><p class='numberSize'>1</p></a></td>
                                <td><a ng-click id="button2" value='2'><p class='numberSize'>2</p></a></td>
                                <td><a ng-click id="button3" value='3'><p class='numberSize'>3</p></a></td>
                                </tr>
                                <tr>
                                <td><a ng-click id="button4" value='4'><p class='numberSize'>4</p></a></td>
                                <td><a ng-click id="button5" value='5'><p class='numberSize'>5</p></a></td>
                                <td><a ng-click id="button6" value='6'><p class='numberSize'>6</p></a></td>    
                                </tr>
                                <tr>
                                <td><a ng-click id="button7" value='7'><p class='numberSize'>7</p></a></td>
                                <td><a ng-click id="button8" value='8'><p class='numberSize'>8</p></a></td>
                                <td><a ng-click id="button9" value='9'><p class='numberSize'>9</p></a></td>    
                                </tr>
                                <tr>
                                <td><a ng-click id="buttonStar" value='*'><p class='numberSize'>*</p></a></td>
                                <td><a ng-click id="button0" value='0'><p class='numberSize'>0</p></a></td> 
                                <td><a ng-click id="buttonPound" value='#'><p class='numberSize'>#</p></a></td>
                                </tr>
                                </table>
                          </div>  
                           <div class='calling'>
                                 <table>
                                  <td><a ng-click id="call"><div class='numberSizeFunction'><p>Start Call</p></div></a></td>
                                  <td><a ng-click id="hangup"><div class='numberSizeFunction'><p>End Call</p></div></a></td>
                                </table>
                                </div>
              </div>
      </div>
  
         <div class='Leadsfont'> <p class='Leadsfont'>Lead Creation Center</p> </div>

    
    <form ng-submit="addLead(newLead)" role='form'>
     <div class='leadInput'>
      <input ng-model="newLead.name" placeholder='Full Name' class='form-control' />
      <input ng-model="newLead.phone" placeholder='+18015555555' class='form-control'/>
      <input ng-model="newLead.email"placeholder='example@example.com' class='form-control' />
      <input ng-model="newLead.location"placeholder='City, State' class='form-control' />
      </div>
      <textarea id='model_text' ng-model="newLead.notes" placeholder='Notes' class='form-control' rows='8'></textarea>
      <button type="submit" class="btn btn-default" id='leadBTN'>Make New Lead</button>
    </form>



    </div>
  </div>
</div>