 <nav class='navbar-default' role='navigation'>
    <ul class="nav nav-pills">
      <li class="active"><a href="#" ng-click='goHome()'>Home</a></li>
      <li><a href="#" ng-click="getLeads()">Search Leads</a></li>
     

      <div class='logIn' ng-hid="auth.user">
      <!-- <p class='info'>Welcome, please log in.</p> -->
     
      <li><a ng-click="auth.$login('google')"><img class='navImg' src="https://developers.google.com/+/images/branding/sign-in-buttons/Red-signin_Long_base_44dp.png"></a></li>
    </div>
  </ul>
 <div class='logIn' ng-show="auth.user">
      <p class='info'>Hello, {{auth.user.displayName}}</p>
      <button ng-click="auth.$logout()">Logout</button>
    </div>
    
    
</nav>