html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
   /* position:relative*/
}
body{
    height:100% 
}
.btn-primary{
    position:fixed;
    width: 5%;
    border-radius: 0;
    }



.active {
	margin-left: 6em;
}

#phoneImg {
 max-width: 100%;
 max-height: auto;
}

.phone {
	height: auto;
	padding: 1em;
}

.phonea {
	margin-left: 15em;
	border: 1px solid #e5e5e5;
	width: 20em;
	height: 10em;
	border-radius: 0.25em;
}

.peabody1 {
	float: left;
	display: inline-block;
	margin-left: 1.5em;
}
.peabody {
	display: inline-block;
	margin-left: 1.5em;
	float:right;
}
.main {
	margin-bottom: 3em;
	margin-top: 2em;
}

.col-md-9 {
margin-left: 14em;

}

.text {
	text-align: center;
}

#hangup {
	margin-left: .5em;
}

p {
	font-family: sans-serif;
	padding:.5em;
}

.checkbox {
	display: inline-block;
	margin-left: 8em;
	}

#accept {
	margin-left: 4em;
}

#button1 { 
	height: 2em;
	width: 3em;
	margin: .25em;
}
#button2 { 
	height: 2em;
	width: 3em;
	margin: .25em;
}
#button3 { 
	height: 2em;
	width: 3em;
	margin: .25em;
}
#button4 { 
	height: 2em;
	width: 3em;
	margin: .25em;
}
#button5 { 
	height: 2em;
	width: 3em;
	margin: .25em;
}
#button6 { 
	height: 2em;
	width: 3em;
	margin: .25em;
}
#button7 { 
	height: 2em;
	width: 3em;
	margin: .25em;
}
#button8 { 
	height: 2em;
	width: 3em;
	margin: .25em;
}
#button9 { 
	height: 2em;
	width: 3em;
	margin: .25em;
}
#button0 { 
	height: 2em;
	width: 3em;
	margin: .25em;
}
#buttonStar { 
	height: 2em;
	width: 3em;
	margin: .25em;
}
#buttonPound { 
	height: 2em;
	width: 3em;
	margin: .25em;
}

#dialpad {
	width: 11.25em;
	margin-left: 5em;
}

#tocall {
	position: top;
}

.image {
	display: inline-block;
	margin-left: 3em;
}

#call {
	position: top;
	margin-left: .5em;
	margin-bottom: .5em;
}

.center-block {
	 display: block;
  margin-left: auto;
  margin-right: auto;
}

.darkbox {
	max-width: auto;
}
/* {
   border: 1px solid red !important;
}*/